services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build: .
    command: npx nx serve api
    ports:
      - "3000:3000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis

  api-test:
    build: .
    command: npx nx test api
    environment:
      REDIS_HOST: redis
    depends_on:
      - redis
